<html>
<head>
<title>Curse</title>
</head>
<body>
	<table class=>
		<thead>
		</thead>
		
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ curso.id }}</td>
			</tr>
			<tr>
				<th>Code</th>
				<td>{{ curso.codigo }}</td>
			</tr>
			<tr>
				<th>Credits>
				<td>{{ curso.credito }}</td>
			</tr>
			<tr>
				<th>name>
				<td>{{ curso.nombre }}</td>
			</tr>
        </tbody>
      </table>
      <br />
</body>
</html>