<html>
<head>
<title>Grade</title>
</head>
<body>
	<form action="matricula" method="POST">
		<table>
			<tbody>
				<tr>
					<td>Grade</td>
					<td><input type="text" name="nota" value="{{matricula.nota}}" /></td>
				</tr>
				<tr>
					<td>Semester</td>
					<td><input type="text" name="semestre" value="{{matricula.semestre}}" /></td>
				</tr>
				<tr>
					<td>Student code</td>
					<td><input type="text" name="alumno" value="{{matricula.alumno}}" /></td>
				</tr>
				<tr>
					<td>Curse code</td>
					<td><input type="text" name="curso" value="{{matricula.curso}}" /></td>
				</tr>
			</tbody>
		</table>
		<br>
		<input type="submit" value="Save" />
		<input type="button" value="Cancel" onclick="history.back();" />
	</form>
</body>
</html>